root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.yml]
indent_size = 2

[*.java]
ij_java_continuation_indent_size = 4
ij_java_method_call_chain_wrap = on_every_item
ij_java_record_components_wrap = on_every_item
ij_java_space_before_if_parentheses = false
ij_java_space_before_for_parentheses = false
ij_java_space_before_try_parentheses = false
ij_java_space_before_catch_parentheses = false
ij_java_space_before_while_parentheses = false
ij_java_space_before_switch_parentheses = false
ij_java_spaces_around_equality_operators = true
ij_java_spaces_within_array_initializer_braces = true
ij_java_space_before_quest = true
ij_java_space_after_quest = true
ij_java_space_before_colon = true
ij_java_space_after_colon = true
ij_java_blank_lines_before_class_end = 1
ij_java_blank_lines_after_class_header = 1
ij_java_blank_lines_around_method_in_interface = 0
ij_java_keep_simple_classes_in_one_line = true
ij_java_keep_simple_methods_in_one_line = true
ij_java_keep_simple_blocks_in_one_line = true
ij_java_keep_simple_lambdas_in_one_line = true
ij_java_builder_methods = map,allMatch,orElse,findFirst